<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Media Site</title>
    <link rel="stylesheet" href="/stylesheets/feed.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header>
        <div id="head">
            <h1>MediaMingle</h1>
        </div>
    </header>

    <main>
        <% posts.reverse().forEach(function(elem){ %>
            <div class="post-container">
                <!-- Single Post -->
                <div class="post">
                    <div class="post-header">
                        <img src="/images/uploads/<%= elem.user.profileImage %>" alt="">
                        <h4>@<%= elem.user.username %></h4>
                    </div>
                    
                    <div id="post-content">
                        <img src="/images/uploads/<%= elem.picture %>" alt="NFT Image">
                    </div>
                    <div class="post-caption">
                        <h3> &nbsp;&nbsp;&nbsp;Caption: <%= elem.caption %></h3>
                    </div>
                </div>
            </div>
            <hr>
        <% }) %>
    </main>

    <footer>
        
        <a href="/feed" id="btn"><i class="fa fa-home"></i></a>
        <a href="/upload" id="btn"><i class="fa fa-plus"></i></a>
        <a href="/search" id="btn"><i class="fa fa-search"></i></a>
        <a href="/profile" id="btn"><i class="fa fa-user"></i></a>
   
    </footer>

    <script> 
        const darkModeToggle = document.getElementById('darkModeToggle');
        const body = document.body;

        darkModeToggle.addEventListener('click', () => {
            body.classList.toggle('dark-mode');
        });
    </script>
</body>
</html>
