<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>

    <header>
        <div id="head">
            <h1>MediaMingle</h1>
        </div>
    </header>
    
    <div id="container">

    <div id="updatepicture">
        <img src="http://via.placeholder.com/150x150" alt=""/>
    </div>
    <br>
    <div id="picture">
    <button id="editbtn">select picture</button>
    </div>
    
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input id="imageinput" hidden type="file" name="image">
      <label for="name">Caption:</label>
      <input name="caption" type="text" id="caption" name="caption" required>
      <br>
      <button type="submit">Post</button>
    </form>
  </div>

  <footer>
        
    <a href="/feed" id="btn"><i class="fa fa-home"></i></a>
    <a href="/upload" id="btn"><i class="fa fa-plus"></i></a>
    <a href="/search" id="btn"><i class="fa fa-search"></i></a>
    <a href="/profile" id="btn"><i class="fa fa-user"></i></a>

</footer>

<script>
 document.querySelector("#editbtn")
 .addEventListener("click", function(){
    document.querySelector("#imageinput").click();
})

    document.querySelector("#updatepicture")
 .addEventListener("click", function(){
    document.querySelector("#imageinput").click();

 })
    const darkModePreference = localStorage.getItem('darkMode');
    console.log('Dark Mode Preference:', darkModePreference);

    if (darkModePreference === 'enabled') {
        console.log('Dark Mode Enabled!');
        document.body.classList.add('dark-mode');
    }
</script>


</body>
</html>